@media (min-width: 1200px){
  .navbar>.container-fluid{
    width: 1210px;
    margin: 0 auto;

  }
  .hj-content{
    max-width: 1210px;
    margin: 0 auto;
}
.hj-footer-box .hj-footer-ul{
  margin: 0 auto;
  width: 1210px;
  display: inline-block;
  /*position: fixed;*/
}
}
.hj-footer-box{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.hj-footer-box
.navbar{
  box-shadow: 0 5px 5px #d2d2d2;
}
.navbar>.container-fluid{
  position: relative;
}
#bs-example-navbar-collapse-1 .hj-nav-content{
  margin-left: 20px;
}
.hj-nav-content>li{
  position: static;
}
.hj-nav-content li:before{
  
}

.doormatmenu{
  background-color: rgb(237, 237, 237);
  left: 0;
  display: none;
  max-height: 520px;
  max-width: 1210px;
  min-height: 200px;
  padding: 50px 25px;
  overflow-y:auto; 
  position: absolute;
  top: 100%;
  width: 99%;
}
.doormatmenu p.doormat-head{
  font-size: 18px;
  font-weight: bold;
  padding: 20px 8px 6px;
  text-align: left;
}
.doormatmenu p.doormat-head:first-child{
  padding-top: 0;
}
.doormatmenu .columns{
  border-right: 1px solid #ddd;
}
.doormatmenu .columns:last-child{
  border-right: 0;
  margin: -25px 0 -15px;
  padding: 20px 20px 25px;
  background: #404040;
}
.doormatmenu .columns:last-child li a{
  color:#fff;
}
.doormatmenu .doormat-links > li{
  text-align: left;
}
.doormatmenu .doormat-links > li:hover{
  background: none!important;
}
.doormatmenu .doormat-links > li > a {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0;
  color:#333;
}
.navbar-brand{
  display: inline-block;
}
.navbar-brand img{
  height: 35px;
  margin-top: 5px;
}
.hj-nav-content>li>a{
  padding: 0px 20px;
  margin: 10px 0;
  border-right:1px solid #e7e7e7;
}
.hj-nav-content li:last-child>a{
  border-right:0;
} 
.hj-nav-content li:hover,.hj-nav-content li.active{
  background: #e7e7e7!important;
}
.hj-nav-content li>a >p{
  font-size: 18px;
  line-height: 1.5em;
  color:#333;
}
.hj-nav-dropdown{
  background: #db0011;
  cursor: pointer;
  position: relative;
  padding: 0;
}
.hj-nav-dropdown >a{
 color:#fff!important;
 padding: 10px!important;
}
.hj-nav-dropdown .dropdown-menu img{
  width: 160px;
  margin: 10px;
}
.hj-nav-dropdown:hover{
  background: #83000a;
}
.hj-nav-dropdown > span{
  margin-left: 10px;
}
.hj-content-box{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.hj-bg-img{
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

}
.hj-content{
    margin: 0 auto;
    padding-top: 100px;
    display: block;
}
#hj-slider .swiper-slide{
  /*height: 300px;*/
  /*padding: 0 10px;*/


  /*margin: 0 15px;*/
}
#hj-slider{
  position: relative;
  width:90%;
  margin: 0 auto;
}
.hj-slide-box{
 border-radius: 4px;
}
.hj-slide-top,.hj-slide-middle{
  width: 100%;
  padding: 5px;
  line-height: 1.2em;
}
.hj-slide-top img{
  width: 100%;
  height: auto;
  height: 240px;
  line-height: 1.2em;
}
.hj-slide-middle{
  padding: 10px;
  height: 250px;
  overflow: hidden;
}
.hj-slide-middle >p{
  line-height: 20px;
}
.hj-slide-middle a,.list-infor-content a{
  position: relative;
  font-size: 1.8em;
  display: inline-block;
  padding-right: 30px;
  line-height: 1.2em;
}
.hj-slide-middle a span,.list-infor-content a span{
  display: inline-block;
  word-break: break-all; word-wrap:break-word;
}
.hj-slide-middle a i,.list-infor-content a i{
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
  margin-top: -10px;
  color:#db0011;
  font-weight: 700;
}
.hj-slide-foot{

}




/*轮播样式控制*/
.swiper-next,.swiper-prev{
  color:#fff;
  position: absolute;
  width: 40px;
  height: 80px;
  top:50%;
  line-height: 80px;
  font-size: 30px;
  margin-top: -35px;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #000;
  opacity: 0.4;
}
.swiper-next:hover,.swiper-prev:hover{
  opacity: 0.8;
}
.swiper-next{
  right: -40px;
}
.swiper-prev{
  left: -40px;
}
.swiper-pagination{
  bottom:-20px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.swiper-pagination .swiper-pagination-bullet{
  width: 20px;
  border-radius: 0;
  display: inline-block;
  height: 5px;
  cursor: pointer;
  margin-left: 5px;
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active,.swiper-pagination .swiper-pagination-bullet.on{
  background: #f00!important;
}
.contentwrapper{
  width: 100%;
  min-height: 100%;
  display: inline-block;
  padding: 10px 10px 60px;
  border-radius: 5px;
}

.content-list-box{
  width: 100%;
  border:1px solid #ddd;
  display: inline-block;
}
.content-list-box .list-box-left{
  width: 30%;
  display: inline-block;
  float: left;
  
}
.list-box-left .hj-list-group{
  height: 80px;
  line-height: 80px;
  padding-left: 20px;
  cursor: pointer;
  background: #e4e4e4;
  margin-bottom: 0;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 2;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  /*-webkit-transform: 0.5s;
    -moz-transform: 0.5s;
    -o-transform: 0.5s;
    -ms-transform: 0.5s;
    transform: 0.5s;*/
}
.list-box-left .hj-list-group >span{
  position: relative;
  z-index: 3;
}
.list-box-left .hj-list-group:last-child{
  border-bottom: 0;
}
.list-box-left .hj-list-group:hover,.list-box-left .hj-list-group.active{
  background: #fff;
  border-right:0;
  font-size: 20px;
}
.list-box-left .hj-list-group p{
  position: absolute;
  display: inline-block;
  left: 50%;
  width:0;
  border-radius: 100%;
  top: 50%;
  height: 0;
  background-color:#fff;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out; 
}
.list-box-left .hj-list-group.active p{
  width: 100%;
  background-color:#fff;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  border-radius: 0;
}
.list-box-left .hj-list-group:before{
  height: 100%;
  position: absolute;
  content: '';
  left: 0;
  background: #f00;
  width: 0;
  top: 0;
  z-index: 2;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  /*display: none;*/
}
.list-box-left .hj-list-group.active:before{
  /*display: inline-block;*/
  width: 5px;
}

.content-list-box .list-box-right{
  width: 70%;
  display:inline-block;
  float: left;
  height: 100%;
  padding: 0 20px;
  margin-left: -1px;
  border-left:1px solid #ddd; 
}
.list-box-right .list-right-content{
  width: 100%;
  display: none;
}
.list-box-right .list-right-content.active{
  display: inline-block;
}
.list-box-right .list-right-cont{
  display: inline-block;
  overflow-y:auto;
  padding: 10px
}

.list-infor-box{
  width: 100%;
  padding: 20px 10px;
  display: inline-block;
}
.list-infor-content{
  height: 150px;
  overflow: hidden;
  margin: 20px 0;
  border-right: 1px solid #666;
}
.list-infor-content:nth-child(3n+3){
  border-right:0;
}
/*.list-infor-content:nth-child(2n+2){
  background: #eee;
}*/

.list-infor-href{
  padding: 10px;
  font-weight: 500;
}
.list-infor-href p{
  width: 100%;
  display: inline-block;
  height: 1px;
  background: #999;
}
.list-infor-href a{
  position: relative;
  font-size: 1.6em;
  display: inline-block;
  padding-right: 30px;
  line-height: 1.2em;
}
.list-infor-href a span{
  display: inline-block;
  word-break: break-all; word-wrap:break-word;
}
.list-infor-href a i{
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
  margin-top: -10px;
  color:#db0011;
  font-weight: 700;
}
.list-infor-ul{
  display: inline-block;
}
.list-infor-li{
  padding: 20px 30px;
  float: left;
  border-right: 1px solid #ddd;
  display: inline-block;
}
.list-infor-li:last-child{
  border-right: 0;
}
.list-infor-li a{
  color: #000;
  font-size: 18px;
}



.hj-footer-box{
  width: 100%;
  display: inline-block;
  padding: 12px;
  background: #404040;
  margin-bottom: 0;
}
.hj-footer-box .hj-footer-ul{
  margin: 0 auto;
  display: inline-block;
}
.hj-footer-ul .hj-footer-li{
  text-align: center;
  border-right: 1px solid #8e8e8e;
}
.hj-footer-ul .hj-footer-li:last-child{
  border-right: 0;
}
.hj-footer-li{

}
.foot-li-cont{
  width: 100%;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  text-align: left;
}
.foot-li-cont>i{
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 16px;
}
.foot-li-cont h4 {
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
}
.foot-li-cont a{
  display: inline-block;
  line-height: 1.2em;
  color:#fff;
}
.foot-li-cont a span{
  word-break: break-all; word-wrap:break-word;
}


/*详情页*/
.content-list-title{
  width: 100%;
  display: inline-block;
}
.title-desktop{
  width: 100%;
  padding: 14px 0;
  background: #3e505e;
  text-align: center;
  font-size: 20px;
  border-radius: 4px 4px 0 0;
  color:#fff;
}
.lists-text{
  padding: 20px;
}
.lists-text li a{
  float: left;
  color:#333;
}
.lists-text li{
  background: url("../images/icon.png") no-repeat scroll 6px 11px;
  border-bottom: 1px dotted #ddd;
  display: block;
  line-height: 26px;
  overflow: hidden;
  padding-left: 18px;
}
.lists-text li span{
  color: #666;
  float: right;
}


.fixedBox {
    background: #ceb178 none repeat scroll 0 0;
    bottom: 70px;
    font-size: 12px;
    position: fixed;
    right: 8px;
    width: 70px;
    z-index: 9999;
}
.fixedBox .fixedBoxList{
  padding: 5px;
}

.fixedBox ul.fixedBoxList li.fixeBoxLi {
    margin: 1px auto 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.li.fixeBoxLi a{
  text-decoration: none;
  list-style: outside none none;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi:hover{
  background: #f90;
}
.fixeBoxLi .fixeBoxSpan {
    cursor: pointer;
    display: block;
    height: 34px;
    margin: 0 auto;
    width: 40px;
}
.fixedBox ul.fixedBoxList li.fixeBoxLi strong {
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    left: -115px;
    padding-left: 10px;
    position: absolute;
    top: -1px;
    width: 110px;
    padding-bottom: 5px;
    z-index: 999;
}
.fixedBox ul.fixedBoxList li.Service:hover .ServiceBox{
  display: inline-block;
}
.fixedBox ul.fixedBoxList li.Service .ServiceBox dl {
    height: 60px;
    margin: 0 auto;
    width: 132px;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd {
    float: left;
    text-align: left;
    width: 60px;
}

.fixedBox ul.fixedBoxList li.Service .ServiceBox dl dd strong {
    color: #999;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 140px;
}