.hj-list-title{
	width: 100%;
	display: inline-block;
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
}
.hj-list-body{
	width: 100%;
	display: inline-block;
	padding-top: 8px;
	position: relative;
}
.hj-list-body .form-group{
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	float: left;
}
.hj-list-body .form-group .control-label{
	margin-bottom: 0;
}
.invest-cont .font-block{
	line-height: 35px;
}
.invest-cont .font-pink{
	font-size:24px;
}
.belong-box{
	display: inline-block;
	padding-left: 80px;
	position: relative;
	min-height: 70px;
}
.belong-box .belong-img{
	width: 70px;
	height: 70px;
	border:1px solid #ddd;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
}
.belong-img img{
	width: 100%;
	height: 100%;
}
.belong-box span{
	font-size: 24px;
}
.belong-box span b{
	font-size: 16px;
}

.belong-content{
	width: 100%;
	height: 200px;
}
.belong-content .swiper-slide{
	text-align: center;
}
.belong-content img{
	max-width: 100%;
	height: 100%;
}
#num-pagination{
position:absolute;
right:10px;
bottom:10px;
color:#fff;
font-size:20px;
z-index:999;
padding: 5px;
border-radius: 100%;
background: #999;
}
#active-num{
font-size:16px;
line-height:24px;
float:left
}

.hj-buy{
	width: 100%;
	display: inline-block;
	position: fixed;
	z-index: 999;
	bottom:0px;
	left: 0;
	padding:5px 10px;
	background: #fff;
	border-top: 1px solid #ddd;
}
.hj-link-details{
	background: #fff;
	border:1px solid #ddd;
	border-width: 1px 0 1px 0;
	margin-bottom: 10px;
}
.hj-link-details i{
	float: right;
}
.invest-show{
	width: 100%;
	height: 200px;
	display: inline-block;
	padding-top: 20px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.invest-show:before{
	position: absolute;
	content:'';
	height: 80%;
	width: 0px;
	top:10%;
	left: 50%;
	border-left:1px dashed #ddd;
}
.invest-show-box >p {
	display: block;
	line-height: 4em;
	font-size: 18px;
}
.invest-show-box >p >span{
	font-size: 40px;
}
.invest-show-box>span{
	font-size: 18px;
}
@media (min-width: 768px) {
  .belong-content{
	height: 280px;
}
}