@charset "utf-8";
/* CSS Document */
.big-box {
	margin:1em;
	font-family:"微软雅黑";
	color:#000;
}

.title-name {
	font-size:20px;
	text-align:center;
}

dl dt {
	margin:1em 0.5em;
	font-size:16px;
	font-weight:500;
	margin-top:1em;
}
dl dd {
	margin-left:2em;
}

dd b {
	color:red;
}

.plot {
	border-radius:4px;
	border:1px solid #dddddd;
	height:30em;
}
.city {
	height:30em;
}

.text-size {
	font-size:18px;
}

.tubiao-box {
	padding:0px;

	height:30em;
}

.chart {
	height:27em; 

}
.map {
	border-top:1px solid #ccc;
	height:43.5em; 
	width:100%;
}