@charset "utf-8";
/* CSS Document */

.manyi-oa-ul {
	padding-bottom: 0;
	height: auto;
}
.manyi-oa-ul>.nav-tabs {
	border-bottom: none;
}
.manyi-oa-ul li.active>a,.manyi-oa-ul li.active>a:hover,.manyi-oa-ul li.active>a:focus {
	background-color: #1ab394;
	color:#fff;
}

.manyi-table thead,.manyi-table tfoot{
	background: #1ab394;
	color:#fff;
	
}

/*右边的背景设*/
#page-wrapper {
	background-color:#fff;
}
/*右边的背景设 结束*/

/*下一步的margin*/
.next-margin {
    padding-right: 2em;
    text-align: right;
}
/*下一步的margin over*/