/*宽带的用户展示页面的样式*/
.contact-box {

}
.xiao-qu-xin-xi {
    font-family: "微软雅黑";

}

.ding-wei {
    position: absolute;
    left: 30px;
    bottom: 1px;
}

.tubiao {
    height: 300px;
}
.box-xiaoqu-xinxi {

    height: 300px;
}

.dk-number {
    font-size: 16px;

}

.duankou {

    font-family: "微软雅黑";

}
.number-color {
    color: red;
    font-size: 16px;
}

.font-zi {
    font-weight: 600px;

}