
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-app:before { content: "\e600"; }
.icon-browser:before { content: "\e601"; }
.icon-camera:before { content: "\e602"; }
.icon-card:before { content: "\e603"; }
.icon-cart:before { content: "\e604"; }
.icon-computer:before { content: "\e605"; }
.icon-delete:before { content: "\e606"; }
.icon-deliver:before { content: "\e607"; }
.icon-down:before { content: "\e608"; }
.icon-download:before { content: "\e609"; }
.icon-edit:before { content: "\e60a"; }
.icon-file2:before { content: "\e60b"; }
.icon-folderadd:before { content: "\e60c"; }
.icon-folder:before { content: "\e60d"; }
.icon-friends:before { content: "\e60e"; }
.icon-hide:before { content: "\e60f"; }
.icon-like:before { content: "\e610"; }
.icon-link:before { content: "\e611"; }
.icon-loading:before { content: "\e612"; }
.icon-location:before { content: "\e613"; }
.icon-menu:before { content: "\e614"; }
.icon-message:before { content: "\e615"; }
.icon-more:before { content: "\e616"; }
.icon-music:before { content: "\e617"; }
.icon-my:before { content: "\e618"; }
.icon-pause:before { content: "\e619"; }
.icon-phone:before { content: "\e61a"; }
.icon-pic:before { content: "\e61b"; }
.icon-play:before { content: "\e61c"; }
.icon-question:before { content: "\e61d"; }
.icon-record:before { content: "\e61e"; }
.icon-refresh:before { content: "\e61f"; }
.icon-rest:before { content: "\e620"; }
.icon-right:before { content: "\e621"; }
.icon-rotate:before { content: "\e622"; }
.icon-roundcheck:before { content: "\e623"; }
.icon-roundclose:before { content: "\e624"; }
.icon-search:before { content: "\e625"; }
.icon-service:before { content: "\e626"; }
.icon-upload:before { content: "\e627"; }
.icon-back:before { content: "\e628"; }
.icon-cart1:before { content: "\e629"; }
.icon-email:before { content: "\e62a"; }
.icon-favorite:before { content: "\e62b"; }
.icon-form:before { content: "\e62c"; }
.icon-less:before { content: "\e62d"; }
.icon-more1:before { content: "\e62e"; }
.icon-pic1:before { content: "\e62f"; }
.icon-rfq:before { content: "\e630"; }
.icon-search1:before { content: "\e631"; }
.icon-selected:before { content: "\e632"; }
.icon-success:before { content: "\e633"; }
.icon-survey:before { content: "\e634"; }
.icon-wrong:before { content: "\e635"; }
.icon-dianhua:before { content: "\e636"; }
.icon-dianhuajianpan:before { content: "\e637"; }
.icon-huchudianhua:before { content: "\e638"; }
.icon-laidianxianshi:before { content: "\e639"; }
.icon-mima:before { content: "\e63a"; }
.icon-chuzuche:before { content: "\e63b"; }
.icon-dengpaotishi:before { content: "\e63c"; }
.icon-feijichang:before { content: "\e63d"; }
.icon-hujiaozhuanyi:before { content: "\e63e"; }
.icon-huangguan:before { content: "\e63f"; }
.icon-huochezhan:before { content: "\e640"; }
.icon-qichezhan:before { content: "\e641"; }
.icon-qunzu:before { content: "\e642"; }
.icon-shanchu:before { content: "\e643"; }
.icon-shezhi:before { content: "\e644"; }
.icon-shengyin:before { content: "\e645"; }
.icon-shizhong:before { content: "\e646"; }
.icon-shouye:before { content: "\e647"; }
.icon-shuru:before { content: "\e648"; }
.icon-sousuo:before { content: "\e649"; }
.icon-tongxunlu:before { content: "\e64a"; }
.icon-xiugai:before { content: "\e64b"; }
.icon-yonghu:before { content: "\e64c"; }
.icon-zan:before { content: "\e64d"; }
.icon-bianjitiaomu:before { content: "\e64e"; }
.icon-cesu:before { content: "\e64f"; }
.icon-dianhuaqiaguzhang:before { content: "\e650"; }
.icon-duihuaxinxi:before { content: "\e651"; }
.icon-rili:before { content: "\e652"; }
.icon-shipin:before { content: "\e653"; }
.icon-tianjiadianhuaqia:before { content: "\e654"; }
.icon-tupian:before { content: "\e655"; }
.icon-wuliu:before { content: "\e656"; }
.icon-xinfeng:before { content: "\e657"; }
.icon-yiyuan:before { content: "\e658"; }
.icon-yinle:before { content: "\e659"; }
.icon-youxi:before { content: "\e65a"; }
.icon-zuanshi:before { content: "\e65b"; }
.icon-zuoji:before { content: "\e65c"; }
.icon-ktv:before { content: "\e65d"; }
.icon-simqia:before { content: "\e65e"; }
.icon-wifi:before { content: "\e65f"; }
.icon-anquan:before { content: "\e660"; }
.icon-bangzhu:before { content: "\e661"; }
.icon-bukaixin:before { content: "\e662"; }
.icon-dibiao:before { content: "\e663"; }
.icon-fenleiorguangchangorqita:before { content: "\e664"; }
.icon-fenxiang:before { content: "\e665"; }
.icon-jiaxingshoucang:before { content: "\e666"; }
.icon-jinzhitishi:before { content: "\e667"; }
.icon-kaixin:before { content: "\e668"; }
.icon-liwu:before { content: "\e669"; }
.icon-qian:before { content: "\e66a"; }
.icon-qingdan:before { content: "\e66b"; }
.icon-tianjia:before { content: "\e66c"; }
.icon-xiai:before { content: "\e66d"; }
.icon-yibantishi:before { content: "\e66e"; }
.icon-biaoqian:before { content: "\e66f"; }
.icon-chongzhi:before { content: "\e670"; }
.icon-duigou:before { content: "\e671"; }
.icon-duihuan:before { content: "\e672"; }
.icon-erweima:before { content: "\e673"; }
.icon-gengduo:before { content: "\e674"; }
.icon-jiantou:before { content: "\e675"; }
.icon-saoyisao:before { content: "\e676"; }
.icon-shangchuan:before { content: "\e677"; }
.icon-shuaxin:before { content: "\e678"; }
.icon-tiquliuliang:before { content: "\e679"; }
.icon-xiazai:before { content: "\e67a"; }
.icon-zhuanzengliuliang:before { content: "\e67b"; }
.icon-zhuanqugengduoliuliang:before { content: "\e67c"; }
.icon-cuowutishi:before { content: "\e67d"; }
.icon-bangzhutianchong:before { content: "\e67e"; }
