/*龙虎版*/

body{
	background:#fff;	
	}
.text-box{
	width: 96%;
	background:#f5f5f5;
	margin-top:10px;
	border-radius: 10px;
	padding:10px 10px;
}
.defen{
	font-size:40px; 
	text-align:center;	
	}
.fen{
	font-size:24px;	
	}
.text-box ul li{
	font-size:16px;
	line-height:26px;
	}
.niew{
	width:100%;
	background:#fff;
	padding:15px;
} 
.xiala_1{
	padding:0;	
	}
.longhu_din{
	padding:15px;
	background:#f5f5f5;	
	}	
.title_box{
	width:100%;
	background-color:#efeff0;	
	border-radius:5px;
	margin-top:10px;
	padding:15px 0;
	overflow:hidden;
}

.no_box{
	width:24px;
	height:24px;
	color:#FFF;
	background-color:#005bac;
	font-size:18px;
	font-weight:400;
	text-align:center;
	line-height:24px;
	margin-left:10px;
	border-radius:2px;	
}
.two{
	background:#06C;	
	}
.three{
	background:#09F;	
	}	
.x_text{
	margin-left:10px;	
	}
.zhu{
	margin-left:10px;	
	}	
@media(min-width:768px){
.xiala_1{
	padding:0 10px;	
	}	
	}	
@media(min-width:1024px){
.xiala_1{
	padding:0 27px;	
	}	
	}	
	
	