@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?5kadkl');
    src:    url('fonts/icomoon.eot?5kadkl#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?5kadkl') format('truetype'),
        url('fonts/icomoon.woff?5kadkl') format('woff'),
        url('fonts/icomoon.svg?5kadkl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-38:before {
    content: "\e900";
}
.icon-iconfont-1212:before {
    content: "\e901";
}
.icon-iconfont-activity:before {
    content: "\e902";
}
.icon-iconfont-activityfill:before {
    content: "\e903";
}
.icon-iconfont-add:before {
    content: "\e904";
}
.icon-iconfont-addressbook:before {
    content: "\e905";
}
.icon-iconfont-album:before {
    content: "\e906";
}
.icon-iconfont-all:before {
    content: "\e907";
}
.icon-iconfont-appreciate:before {
    content: "\e908";
}
.icon-iconfont-appreciatefill:before {
    content: "\e90a";
}
.icon-iconfont-apps:before {
    content: "\e90b";
}
.icon-iconfont-attention:before {
    content: "\e90c";
}
.icon-iconfont-attentionfill:before {
    content: "\e90d";
}
.icon-iconfont-baby:before {
    content: "\e90e";
}
.icon-iconfont-babyfill:before {
    content: "\e90f";
}
.icon-iconfont-back:before {
    content: "\e910";
}
.icon-iconfont-backdelete:before {
    content: "\e911";
}
.icon-iconfont-backwardfill:before {
    content: "\e912";
}
.icon-iconfont-bad:before {
    content: "\e913";
}
.icon-iconfont-barcode:before {
    content: "\e914";
}
.icon-iconfont-big:before {
    content: "\e915";
}
.icon-iconfont-brand:before {
    content: "\e916";
}
.icon-iconfont-brandfill:before {
    content: "\e917";
}
.icon-iconfont-calendar:before {
    content: "\e918";
}
.icon-iconfont-camera:before {
    content: "\e919";
}
.icon-iconfont-cameraadd:before {
    content: "\e91a";
}
.icon-iconfont-cameraaddfill:before {
    content: "\e91b";
}
.icon-iconfont-camerafill:before {
    content: "\e91c";
}
.icon-iconfont-camerarotate:before {
    content: "\e91d";
}
.icon-iconfont-cart:before {
    content: "\e91e";
}
.icon-iconfont-cartfill:before {
    content: "\e91f";
}
.icon-iconfont-cascades:before {
    content: "\e920";
}
.icon-iconfont-check:before {
    content: "\e921";
}
.icon-iconfont-choiceness:before {
    content: "\e922";
}
.icon-iconfont-choicenessfill:before {
    content: "\e923";
}
.icon-iconfont-close:before {
    content: "\e924";
}
.icon-iconfont-clothes:before {
    content: "\e925";
}
.icon-iconfont-clothesfill:before {
    content: "\e926";
}
.icon-iconfont-command:before {
    content: "\e927";
}
.icon-iconfont-commandfill:before {
    content: "\e928";
}
.icon-iconfont-comment:before {
    content: "\e929";
}
.icon-iconfont-commentfill:before {
    content: "\e92a";
}
.icon-iconfont-community:before {
    content: "\e92b";
}
.icon-iconfont-communityfill:before {
    content: "\e92c";
}
.icon-iconfont-copy:before {
    content: "\e92d";
}
.icon-iconfont-countdown:before {
    content: "\e92e";
}
.icon-iconfont-countdownfill:before {
    content: "\e92f";
}
.icon-iconfont-creative:before {
    content: "\e930";
}
.icon-iconfont-creativefill:before {
    content: "\e931";
}
.icon-iconfont-crown:before {
    content: "\e932";
}
.icon-iconfont-crownfill:before {
    content: "\e933";
}
.icon-iconfont-cut:before {
    content: "\e934";
}
.icon-iconfont-delete:before {
    content: "\e935";
}
.icon-iconfont-deletefill:before {
    content: "\e937";
}
.icon-iconfont-deliver:before {
    content: "\e938";
}
.icon-iconfont-discover:before {
    content: "\e939";
}
.icon-iconfont-discoverfill:before {
    content: "\e93a";
}
.icon-iconfont-down:before {
    content: "\e93b";
}
.icon-iconfont-edit:before {
    content: "\e93c";
}
.icon-iconfont-emoji:before {
    content: "\e93d";
}
.icon-iconfont-emojifill:before {
    content: "\e93e";
}
.icon-iconfont-emojiflashfill:before {
    content: "\e93f";
}
.icon-iconfont-evaluate:before {
    content: "\e940";
}
.icon-iconfont-explore:before {
    content: "\e941";
}
.icon-iconfont-explorefill:before {
    content: "\e942";
}
.icon-iconfont-favor:before {
    content: "\e943";
}
.icon-iconfont-favorfill:before {
    content: "\e944";
}
.icon-iconfont-female:before {
    content: "\e945";
}
.icon-iconfont-file:before {
    content: "\e946";
}
.icon-iconfont-filter:before {
    content: "\e947";
}
.icon-iconfont-flashlightclose:before {
    content: "\e948";
}
.icon-iconfont-flashlightopen:before {
    content: "\e949";
}
.icon-iconfont-focus:before {
    content: "\e94a";
}
.icon-iconfont-fold:before {
    content: "\e94b";
}
.icon-iconfont-footprint:before {
    content: "\e94c";
}
.icon-iconfont-form:before {
    content: "\e94d";
}
.icon-iconfont-forward:before {
    content: "\e94e";
}
.icon-iconfont-forwardfill:before {
    content: "\e94f";
}
.icon-iconfont-friend:before {
    content: "\e950";
}
.icon-iconfont-friendadd:before {
    content: "\e951";
}
.icon-iconfont-friendaddfill:before {
    content: "\e952";
}
.icon-iconfont-friendfamous:before {
    content: "\e953";
}
.icon-iconfont-friendfavor:before {
    content: "\e954";
}
.icon-iconfont-friendfill:before {
    content: "\e955";
}
.icon-iconfont-game:before {
    content: "\e956";
}
.icon-iconfont-goods:before {
    content: "\e958";
}
.icon-iconfont-goodsfill:before {
    content: "\e959";
}
.icon-iconfont-group:before {
    content: "\e95a";
}
.icon-iconfont-home:before {
    content: "\e95b";
}
.icon-iconfont-homefill:before {
    content: "\e95c";
}
.icon-iconfont-hot:before {
    content: "\e95d";
}
.icon-iconfont-hotfill:before {
    content: "\e95e";
}
.icon-iconfont-info:before {
    content: "\e95f";
}
.icon-iconfont-infofill:before {
    content: "\e960";
}
.icon-iconfont-keyboard:before {
    content: "\e961";
}
.icon-iconfont-light:before {
    content: "\e962";
}
.icon-iconfont-lightauto:before {
    content: "\e963";
}
.icon-iconfont-lightfill:before {
    content: "\e964";
}
.icon-iconfont-lightforbid:before {
    content: "\e965";
}
.icon-iconfont-like:before {
    content: "\e966";
}
.icon-iconfont-likefill:before {
    content: "\e967";
}
.icon-iconfont-link:before {
    content: "\e968";
}
.icon-iconfont-list:before {
    content: "\e969";
}
.icon-iconfont-loading:before {
    content: "\e96a";
}
.icon-iconfont-location:before {
    content: "\e96b";
}
.icon-iconfont-locationfill:before {
    content: "\e96c";
}
.icon-iconfont-lock:before {
    content: "\e96d";
}
.icon-iconfont-magic:before {
    content: "\e96e";
}
.icon-iconfont-male:before {
    content: "\e96f";
}
.icon-iconfont-mark:before {
    content: "\e970";
}
.icon-iconfont-markfill:before {
    content: "\e971";
}
.icon-iconfont-message:before {
    content: "\e972";
}
.icon-iconfont-messagefill:before {
    content: "\e973";
}
.icon-iconfont-mobile:before {
    content: "\e974";
}
.icon-iconfont-mobilefill:before {
    content: "\e975";
}
.icon-iconfont-mobiletao:before {
    content: "\e976";
}
.icon-iconfont-more:before {
    content: "\e977";
}
.icon-iconfont-moreandroid:before {
    content: "\e978";
}
.icon-iconfont-move:before {
    content: "\e979";
}
.icon-iconfont-my1:before {
    content: "\e97a";
}
.icon-iconfont-my:before {
    content: "\e97b";
}
.icon-iconfont-myfill1:before {
    content: "\e97c";
}
.icon-iconfont-myfill:before {
    content: "\e97d";
}
.icon-iconfont-new:before {
    content: "\e97e";
}
.icon-iconfont-newfill:before {
    content: "\e97f";
}
.icon-iconfont-notice:before {
    content: "\e980";
}
.icon-iconfont-noticefill:before {
    content: "\e981";
}
.icon-iconfont-notification:before {
    content: "\e982";
}
.icon-iconfont-notificationfill:before {
    content: "\e983";
}
.icon-iconfont-notificationforbidfill:before {
    content: "\e984";
}
.icon-iconfont-order:before {
    content: "\e985";
}
.icon-iconfont-paint:before {
    content: "\e986";
}
.icon-iconfont-paintfill:before {
    content: "\e987";
}
.icon-iconfont-pay:before {
    content: "\e988";
}
.icon-iconfont-people:before {
    content: "\e989";
}
.icon-iconfont-peoplefill:before {
    content: "\e98a";
}
.icon-iconfont-phone:before {
    content: "\e98b";
}
.icon-iconfont-pic:before {
    content: "\e98c";
}
.icon-iconfont-picfill:before {
    content: "\e98d";
}
.icon-iconfont-playfill:before {
    content: "\e98e";
}
.icon-iconfont-post:before {
    content: "\e98f";
}
.icon-iconfont-present:before {
    content: "\e990";
}
.icon-iconfont-presentfill:before {
    content: "\e991";
}
.icon-iconfont-profile:before {
    content: "\e992";
}
.icon-iconfont-profilefill:before {
    content: "\e993";
}
.icon-iconfont-pulldown:before {
    content: "\e994";
}
.icon-iconfont-pullleft:before {
    content: "\e995";
}
.icon-iconfont-pullright:before {
    content: "\e996";
}
.icon-iconfont-pullup:before {
    content: "\e997";
}
.icon-iconfont-punch:before {
    content: "\e998";
}
.icon-iconfont-qiang:before {
    content: "\e999";
}
.icon-iconfont-qrcode:before {
    content: "\e99a";
}
.icon-iconfont-question:before {
    content: "\e99b";
}
.icon-iconfont-questionfill:before {
    content: "\e99c";
}
.icon-iconfont-radiobox:before {
    content: "\e99d";
}
.icon-iconfont-radioboxfill:before {
    content: "\e99e";
}
.icon-iconfont-rank:before {
    content: "\e99f";
}
.icon-iconfont-rankfill:before {
    content: "\e9a0";
}
.icon-iconfont-read:before {
    content: "\e9a1";
}
.icon-iconfont-recharge:before {
    content: "\e9a2";
}
.icon-iconfont-rechargefill:before {
    content: "\e9a3";
}
.icon-iconfont-record:before {
    content: "\e9a4";
}
.icon-iconfont-redpacket:before {
    content: "\e9a5";
}
.icon-iconfont-refresh:before {
    content: "\e9a6";
}
.icon-iconfont-refresharrow:before {
    content: "\e9a7";
}
.icon-iconfont-refund:before {
    content: "\e9a8";
}
.icon-iconfont-remind:before {
    content: "\e9a9";
}
.icon-iconfont-repair:before {
    content: "\e9aa";
}
.icon-iconfont-repairfill:before {
    content: "\e9ab";
}
.icon-iconfont-repeal:before {
    content: "\e9ac";
}
.icon-iconfont-right:before {
    content: "\e9ad";
}
.icon-iconfont-round:before {
    content: "\e9ae";
}
.icon-iconfont-roundadd:before {
    content: "\e9af";
}
.icon-iconfont-roundaddfill:before {
    content: "\e9b0";
}
.icon-iconfont-roundcheck:before {
    content: "\e9b1";
}
.icon-iconfont-roundcheckfill:before {
    content: "\e9b2";
}
.icon-iconfont-roundclose:before {
    content: "\e9b3";
}
.icon-iconfont-roundclosefill:before {
    content: "\e9b4";
}
.icon-iconfont-rounddown:before {
    content: "\e9b5";
}
.icon-iconfont-roundright:before {
    content: "\e9b6";
}
.icon-iconfont-roundrightfill:before {
    content: "\e9b7";
}
.icon-iconfont-safe:before {
    content: "\e9b8";
}
.icon-iconfont-same:before {
    content: "\e9b9";
}
.icon-iconfont-samefill:before {
    content: "\e9ba";
}
.icon-iconfont-scan:before {
    content: "\e9bb";
}
.icon-iconfont-search:before {
    content: "\e9bc";
}
.icon-iconfont-searchlist:before {
    content: "\e9bd";
}
.icon-iconfont-selection:before {
    content: "\e9be";
}
.icon-iconfont-selectionfill:before {
    content: "\e9bf";
}
.icon-iconfont-send:before {
    content: "\e9c0";
}
.icon-iconfont-service:before {
    content: "\e9c1";
}
.icon-iconfont-servicefill:before {
    content: "\e9c2";
}
.icon-iconfont-settings:before {
    content: "\e9c3";
}
.icon-iconfont-shake:before {
    content: "\e9c4";
}
.icon-iconfont-share:before {
    content: "\e9c5";
}
.icon-iconfont-shop:before {
    content: "\e9c6";
}
.icon-iconfont-shopfill:before {
    content: "\e9c7";
}
.icon-iconfont-similar:before {
    content: "\e9c8";
}
.icon-iconfont-sort:before {
    content: "\e9c9";
}
.icon-iconfont-sound:before {
    content: "\e9ca";
}
.icon-iconfont-sponsor:before {
    content: "\e9cb";
}
.icon-iconfont-sponsorfill:before {
    content: "\e9cc";
}
.icon-iconfont-square:before {
    content: "\e9cd";
}
.icon-iconfont-squarecheck:before {
    content: "\e9ce";
}
.icon-iconfont-squarecheckfill:before {
    content: "\e9cf";
}
.icon-iconfont-stop:before {
    content: "\e9d0";
}
.icon-iconfont-tag1:before {
    content: "\e9d1";
}
.icon-iconfont-tag:before {
    content: "\e9d2";
}
.icon-iconfont-tagfill:before {
    content: "\e9d3";
}
.icon-iconfont-tao:before {
    content: "\e9d4";
}
.icon-iconfont-taoxiaopu:before {
    content: "\e9d5";
}
.icon-iconfont-taxi:before {
    content: "\e9d6";
}
.icon-iconfont-text:before {
    content: "\e9d7";
}
.icon-iconfont-ticket:before {
    content: "\e9d8";
}
.icon-iconfont-time:before {
    content: "\e9d9";
}
.icon-iconfont-timefill:before {
    content: "\e9da";
}
.icon-iconfont-tmall:before {
    content: "\e9db";
}
.icon-iconfont-top:before {
    content: "\e9dc";
}
.icon-iconfont-unfold:before {
    content: "\e9dd";
}
.icon-iconfont-unlock:before {
    content: "\e9de";
}
.icon-iconfont-upblock:before {
    content: "\e9df";
}
.icon-iconfont-upload:before {
    content: "\e9e0";
}
.icon-iconfont-upstage:before {
    content: "\e9e1";
}
.icon-iconfont-upstagefill:before {
    content: "\e9e2";
}
.icon-iconfont-video:before {
    content: "\e9e3";
}
.icon-iconfont-videofill:before {
    content: "\e9e4";
}
.icon-iconfont-vip:before {
    content: "\e9e5";
}
.icon-iconfont-vipcard:before {
    content: "\e9e6";
}
.icon-iconfont-voice:before {
    content: "\e9e7";
}
.icon-iconfont-voicefill:before {
    content: "\e9e8";
}
.icon-iconfont-wang:before {
    content: "\e9e9";
}
.icon-iconfont-wangfill:before {
    content: "\e9ea";
}
.icon-iconfont-warn:before {
    content: "\e9eb";
}
.icon-iconfont-warnfill:before {
    content: "\e9ec";
}
.icon-iconfont-we:before {
    content: "\e9ed";
}
.icon-iconfont-weblock:before {
    content: "\e9ee";
}
.icon-iconfont-wefill:before {
    content: "\e9ef";
}
.icon-iconfont-weibo:before {
    content: "\e9f0";
}
.icon-iconfont-weunblock:before {
    content: "\e9f1";
}
.icon-iconfont-wifi:before {
    content: "\e9f2";
}
.icon-iconfont-write:before {
    content: "\e9f3";
}
.icon-iconfont-writefill:before {
    content: "\e9f4";
}
.icon-dianhuahujiao:before {
    content: "\e909";
}
.icon-shouru:before {
    content: "\e936";
}
.icon-study:before {
    content: "\e957";
}
.icon-lab:before {
    content: "\e9f5";
}

