.yijian-box textarea{
	border:0;
	width: 100%;
}
.message-list-box .mess-time{
	float: right;
	color:#999;
}
.message-list-box .mess-time i{
	display: inline-block;
	background:url(../images/icon/clock.png) no-repeat;
	width: 12px;
	height: 12px;
	background-size: 12px;
}

.message-detail-box .send-time{
	padding:5px;
	text-align: center;
	font-size: 14px;
	color:#999;
}

.mess-chat-box {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.mess-chat-box.mess-receiver .mess-chat-img {
    float: left;
}
.mess-chat-box .mess-chat-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.mess-chat-box .mess-chat-message-box {
    overflow: hidden;
    padding: 0 60px 0 15px;
}
.mess-chat-box .mess-chat-cont {
    float: left;
    background: #eee;
    /* border: 1px solid #E2E2E2; */
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
    color: #333;
    position: relative;
    min-height: 20px;
}
.mess-chat-box .mess-chat-cont .mess-mess {
    word-break: break-all;
    word-wrap: break-word;
    color: #444;
    /* display: inline-block; */
    font-size: 0.28rem;
    position: relative;
    z-index: 11;
}
.mess-chat-box.mess-receiver .mess-chat-cont:after{
		content:'';
		display: inline-block;
		width: 0; height: 0;
		border-right: 12px solid #eee;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: -12px;
    top: 10px;
    margin: auto;
    -webkit-transition: all 0.2s linear;transition: all 0.2s linear;
    -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}