.my-mess-box{
	padding: 1rem 15px 0.4rem;
	position: relative;
	text-align: center;
	background-color: #fff;
}
.my-mess-box span.s-label{
	color: #999;
	display:inline-block;
	font-size: 0.32rem;
	line-height: 1;
}
.my-mess-box .my-logo{
	width: 2rem;
	height: 2rem;
	border:2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top:-1.2rem;
	left: 50%;
	margin-left: -1rem;
	z-index: 11;
}
.my-name{
	font-size: 0.36rem;
	position: relative;
	display: inline-block;
	color:#333;
}
.my-name .my-badge{
	position: absolute;
	display: inline-block;
	left:100%;
	bottom: 0;
	height: 0.28rem;
	line-height: 1;
}
.my-name .my-badge img{
	height: 100%;
}
.my-mess-box .pingfen{
	padding: 10px 0;
}
.my-set-box{
	margin-top: 5px;
}

.my-set-box .icon-img{
	width: 0.6rem;
	height: 0.6rem;
	padding: 5px;
}
.my-set-box .icon-img > span{
	background-size: 100%;
}
.my-set-box .ui-nowrap{
	color:#666;
	font-size: 0.32rem;
}


/* 登录 */
.login-logo{
	width: 30%;
	display: block;
	margin:0.6rem auto;
}
.login-box{
	padding: 15px;
}
.login-box .login-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
}
.login-box .ui-form-item{
	border-bottom: 1px solid #b2e6fb;
	padding: 0;
	margin-bottom: 10px;
}
.login-box .ui-form-item label{
	color:#999;
}
.login-box .qita-btn{
	display: block;
	padding:0 30px;
	color:#00b1f1;
	height: 0.8rem;
	border-radius: 0.4rem;
	line-height: 0.8rem;
	margin:20px auto;
	border:1px solid #00b1f1;
}

.setting-box .ui-border-t .ui-txt-info{
	color:#333;
	padding-right: 10px;
}