.sch-order-group .sch-order-list{
	overflow: hidden;
}
.sch-order-list:after{
	content: '';
	clear: both;
}
.sch-order-list .or-list-img{
	width: 1.6rem;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.sch-order-list .list-detail{
	color:#555;
	font-size: 0.24rem;
}
.list-label{
	font-size: 0.3rem;
	color:#555;
}
.sch-comment-box{
	padding: 10px;
	margin-top: 10px;
	font-size: .32rem;
	color:#666;
}