html,body{
    height: 100%;
    overflow: hidden;
    background-color: #eee;
}
.ui-container.content-box{
    height: 100%;
    overflow-y:auto; 
}
.ui-list-link > li:after{
    color:#00aff0;
}
.ui-btn.disabled, .disabled.ui-btn-lg, .disabled.ui-btn-s, .ui-btn:disabled, .ui-btn-lg:disabled, .ui-btn-s:disabled{
    color: #fff;
    background-color: #999;
}
.title-desc{
    color:#999;
    background-color: #eee;
    padding:10px 15px;
}
.sch-select-group{
    padding-right: 15px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* white-space: nowrap; */
}
.sch-select-group>span.sel-span{
    position: relative;
    display: inline-block;white-space: nowrap;
}
.sch-select-group>span.sel-span:after{
    content: '\f628';
    font-family: "iconfont" !important;
    font-size: 0.6rem;
    position: absolute;
    right: -0.5rem;
    top:0;
    margin-top: -0.2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sch-select-group.show>span.sel-span:after{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* 头部这里有所不同 单独做了一下 */
.sch-header .sch-select-group:after{
    content: '';
    width: 12px;
    height: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    background: url(../images/icon/down_arrow.png) no-repeat center;
    background-size: 20px;
    right:0;
    top:50%;
    margin-top: -5px;
}
.sch-header .sch-select-group.show:after{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.sch-header .sch-select-group{
	position: absolute;
	width: 80px;
    height: 44px;
    top: 0;
}


.sch-header .opn-header-btn-msg{
    width: 40px;
    height: 40px;
    background: url(../images/icon/msg.png) no-repeat center;
    background-size: 20px 20px;
    /*background-position: center;
    background-repeat:no-repeat;*/
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -20px;
}
.sch-footer{
    border-top:1px solid #ddd;
    padding: 4px 0;
    color:#666;
    background-color: #fff;
}
.sch-footer p{
    font-size: 14px;
    padding-top: 5px;
}
.foot-icon{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-position: center;
    background-repeat:no-repeat;
}
.sch-footer li.active{
    color:#00aff0;
}
.foot-icon.foot-index{
    background-image: url(../images/icon/tab_index.png);
}
.foot-icon.foot-order{
    background-image: url(../images/icon/tab_order.png);
}
.foot-icon.foot-find{
    background-image: url(../images/icon/tab_find.png);
}
.foot-icon.foot-me{
    background-image: url(../images/icon/tab_my.png);
}
.sch-footer li.active .foot-icon.foot-index{
    background-image: url(../images/icon/tab_indexb.png);
}
.sch-footer li.active .foot-icon.foot-order{
    background-image: url(../images/icon/tab_orderb.png);
}
.sch-footer li.active .foot-icon.foot-find{
    background-image: url(../images/icon/tab_findb.png);
}
.sch-footer li.active .foot-icon.foot-me{
    background-image: url(../images/icon/tab_myb.png);
}

.bangdai-box{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin: 15px 0;
}
.bangdai-box .bangdai-left{
    width: 40%;
    border-right:1px solid #ddd;
}
.bangdai-title{
    color:#00aff0;
    position: relative;
    padding-left: 10px;
}
.bangdai-title:before{
    content:'';
    background-color:#00aff0;
    position: absolute;
    width: 6px;
    height: 100%;
    border-radius: 2px;
    left: 0;
    top: 0;
}
.bangdai-list{
    height: auto;
    padding:20px 0;
}

.sch-status{
    padding:2px 5px;
    font-size: 10px;
    display: inline-block;
    border:1px solid #00aff0;
    border-radius: 6px;
    color:#00aff0;
}
.sch-status.success{
    border:1px solid #ddd;
    color:#777;
}
.sch-status.error{
    border:1px solid #f5362f;
    color:#f5362f;
}

.sch-tab{
    background-color: #fff;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.sch-tab .sch-tab-list{
    padding: 10px;
    display: table-cell;
    text-align: center;
    overflow: hidden;
    width: 1%;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.3rem;
}
.sch-tab .sch-tab-list.active{
    color:#00aff0;
}

.head-search-box{
    position: absolute;
    left: 50px;
    right: 50px;
    top: 0;
    padding: 5px;
}
.head-search-box .title-search{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    height: 35px;
    border-radius: 6px;
    text-align: center;
}
.head-search-box .title-search i{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/icon/search.png);
    background-size: 20px;
}
.sch-comment{
    display: inline-block;
}
.sch-comment .sch-star{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    background:url(../images/icon/stara.png) no-repeat;
    background-size: 0.4rem;
    float: left;
    margin-right: 8px;
}
.sch-comment .sch-star.active ~ .sch-star{
    background-image:url(../images/icon/starb.png);
}
.sch-header .ui-searchbar-wrap{
    background: none;
}
.sch-header .ui-searchbar-wrap i{
    color:#666;
}
.sch-header  .ui-searchbar-cancel{
    color:#fff;
}

.searchrecord-box{
    position: fixed;
    left: 0;
    top:45px;
    bottom:56px;
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.searchrecord-box .seacrh-title{
    padding:6px 10px;
    background-color: #eee;
    color:#999;
}
.searchrecord-box .ui-list li i{
    line-height: 1em;
}

.sch-mask-box.show {
    visibility: visible;
    opacity: 1;
}
.sch-mask-box{
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    bottom:0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sch-mask-box .sch-mask {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
}
.sch-header ~ .sch-mask-box{
    top:45px;
}

.sch-mask-box.show .sch-mask-cont {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
.sch-mask-box .sch-mask-cont{
    position: absolute;
    width: 100%;
    max-height: 70%;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    overflow-y: auto;
}

.list-scroll{
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.list-scroll-body {
    position: relative;
    overflow: hidden;
}
.list-scroll-box{
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

li.sch-order-list.a-right:after {
    font-family: "iconfont" !important;
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    color: #c7c7c7;
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -22px;
    margin-right: -10px;
}

.no-mess{
    width: 50%;
    margin: 1rem auto;
    text-align: center;
    color:#999;
    line-height: 2em;
}
.no-mess .no-mess-img{
    width: 2rem;
    height: 2.5rem;
    display: inline-block;
    background:url('../images/icon/null.png') no-repeat;
    background-size: 2rem 2.5rem;
    margin-bottom: 20px;
}