.yue-list-box li{
	font-size: 0.32rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.yue-tit-logo{
	padding:40px;
	text-align: center;
	color:#666;
	font-size: 20px;
}
.yue-tit-logo img{
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	margin-bottom: 10px;
}
.yue-form-box .ui-form-item{
	height: auto;
}
.yue-form-box input,.yue-form-box textarea,.yue-form-box select{
	text-align: right;
}
.yue-form-box .yue-text-show{
	padding:10px 10px 10px 95px;
	line-height: 1.5em;
	text-align: right;
}
.yue-form-box .yue-btn{
	width: 50%;
	display: block;
	margin: 20px auto;
	color:#fff;
}