.log-group{
	position: relative;
}
.log-title{
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	text-align: center;
	/*background-color: #fff;*/
}
.log-seltime{
	position: relative;
	display: inline-block;
	padding-left: 30px;
}
.log-time{
	font-size: 18px;
}
.log-name{
	font-size: 18px;
	float: left;
	padding-left: 15px;
}
.log-subtime{
	font-size: 14px;
	color:#888;
	float: left;
	margin-left: 10px;
}
.log-seltime >i{
	position: absolute;
	left: 6px;
	top: 0px;
	font-size: 20px;
	color:#007aff;
}
.log-input-group{
	margin-bottom: -1px;
}
.log-plan-title{
	padding: 10px 15px 0;
	font-size: 18px;
	/*border-bottom: 1px dashed #ccc;*/
}
.log-input-group .mui-input-row{
	padding: 10px 15px;
	height: auto;
}
.log-input-group .mui-input-row>label{
	width: auto;
	padding: 0 5px;
	color:#666;
	padding-top: 2px;
}
.log-input-group .mui-input-row .log-add,.log-input-group .mui-input-row .log-del{
	border: 0;
	float: right;
	font-size: 16px;
}
.log-input-group .mui-input-row .log-add>i{
	background-color: #ccc;
	border-radius: 50%;
	margin-right: 5px;
	font-weight: 600;
	color: #fff;
}
.log-input-group .mui-input-row .mui-media-object{
	line-height: 42px;
	max-width: 42px;
	height: 42px;
	margin-right: 10px;
}
.log-input-group .log-input-body{
	overflow: hidden;
}
.log-input-group .log-input-body>p{
	font-size: 16px;
	color:#333;
}
.log-input-group .log-input-body>input{
	width: 100%;
	padding:0;
	color:#666;
	height: auto;
}
.log-review-img{
	position: absolute;
	right:20%;
	top:100px;
	width: 20%;
	z-index: 5;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.log-review{
	overflow: hidden;
	color:#999;
}
.log-review >img{
	height: 30px;
	float: right;
	margin-right: 15px;
}












.z-pinlun-box p:active{
	background-color:#ddd;
}
.z-pinlun-box p>span{
	color:#007AFF;
}
.z-pinlun>.z-pinlun-input{
	overflow: hidden;
	position: relative;
	/*border-bottom: 1px solid #ddd!important;*/
}
.z-pinlun>.z-pinlun-input>input{
	padding: 5px 10px!important;
	border: 1px solid #ddd!important;
	border-radius: 4px;
	height: auto!important;
}
.z-pinlun>button{
	padding:7px 10px!important;
	margin-left: 15px;;
	float: right;
	width: auto!important;
	line-height: 1.1;
}
.z-pinlun-box .z-pinlun-smbox{
	padding-left:20px;
}

.oa-mask-box{
	position: fixed;
	left: 0;
	top:0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.oa-mask-box .oa-mask{
	position: absolute;
	z-index: 1;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0);
}

.oa-mask-box .z-pinlun{
	position: absolute;
	z-index: 4;
	width: 100%;
	padding: 15px;
	background-color:#eee;
	border:1px solid #ddd;
	left: 0;
	bottom:0;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
