a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
		margin: 0;
		padding: 0;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
		display: block;
	}
	ol, ul {
    	list-style: none;
	}
	img {
		border: 0 none;
		vertical-align: middle;
	}
/*新闻列表*/
.middle-div{
	width: 1035px;
	margin: 0px auto;
	padding-bottom: 8px;
	display: block;
	position: relative;
	overflow:hidden;
	background:rgba(222, 220, 220, 0.2);
}
.nav li a:hover,.nav li a:focus{
	background-color: #fff;
	color:#719f41;
}
.nav-login,.nav-shenqing{
	color:#fff;
	font-size: 14px;
	border-radius: 3px;
	padding: 5px 15px;
}
.nav-login{
	background: #00a0e9;
}
.nav-shenqing{
	background: #c6006c;
}

.cebian-right{
	position: fixed;
	right: 10px;
	top: 250px;
	width: 45px;
	height: 200px;
	
}
.cebian-box{
	width: 45px;
	height: 45px;
	text-align: center;
	margin: 5px 0;
	background: #fff;
	cursor: pointer;
	border: 1px solid #ccc;
	position: relative;
}
.cebian-box a{
	width: 100%;
	height: 100%;
	display: inline-block;
	background: url(../../images/cebian.png) no-repeat;
}
a.ce-shenqing{
	background-position:0 -90px;
}
a.ce-shenqing:hover{
	background-position:0 -270px;
}
a.ce-phone{
	background-position:0 -45px;
}
a.ce-phone:hover{
	background-position:0 -225px;
}
a.ce-qq{
	background-position:0 0;
}
a.ce-qq:hover{
	background-position:0 -180px;
}
a.ce-erweima{
	background-position:0 -135px;
}
.box{
	width:738px;
	height:740px;
	background:rgba(255,255,255,0.2);
	margin:0px auto;
	overflow:hidden;
	border-radius:5px 5px;
	border: 1px solid #d3d3d3;
	}

/*content中间的主体内容*/
.box_right{
	width:740px;
	height:770px;
	float:left;
	margin-top:10px;
	}
.box_right_top{
	width:740px;
	height:50px;
	background:url(../../images/tiao.fw.png) no-repeat center;
	}

/*您现在的位置*/
.span_one{
	line-height:44px;
	margin-left:50px;
	font-weight:bold;
	font-size:13px;
	}
.right_ul ul li{
	width:710px;
	height:44px;
	border-bottom:#E7E7E7 1px dashed;
	line-height:44px;
	background:url(../../images/fang.png) no-repeat 2% center;
	padding-left:30px;
	color: #939393;
	}
.right_ul ul li span{
	float:right;
	margin-right:10px;
	}
.right_bottom{
	height:80px;
	width:710px;
	margin:0 auto;
	text-align:center;
	line-height:80px;
	color: #939393;
	}
a{
	text-decoration:none;
	color: #939393;
	}
a:hover{
	color:#0e90d2;
	}
/*新闻详细信息*/
.box_right .news{
	width:710px;
	height:690px;
	margin:10px 0px 0px 10px;
	}
.news p{
	font-size:14px;
	text-indent:2em;/*段落前控两个字符*/
	margin-top:13px;
	
	}
.news p.title{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	}
.span_two_news{
	color:#0e90d2;}

.qdy-content .content-left{
	float: left;
	padding-top: 40px;
	width: 230px;
	display: inline-block;
	padding-left: 30px;
	
}
.content-left .cont-box{
	width: 201px;
	display: block;
	border:1px solid #dcdddd;
	background:rgba(255,255,255,0.2);
	line-height: 45px;
	margin-bottom: 10px;
	font-size: 18px;
	color:#a7a7a8;
}
.content-left .cont-box.active{
	border-right: none;
	color: #0e90d2;
	z-index: 10;
}
.qdy-content .content-right{
	margin-left: 230px;
	width:790px;
	padding-left: 15px;
	border-left: 1px solid #dcdddd;
	margin-top:40px;
	overflow:hidden;
}
.cont-box-big{
	width: 100%;
	display: inline-block;
}
.qdy-content .cont-group{
	width: 740px;
	border-collapse: separate;
    display: table;
    position: relative;
    margin: -32px 0 152px 0;
}

.oa-wellcom{
	height:100px;
	}
.bengin{
	margin-top: -10px;
}
