/*宽带首页*/
.xiala_1 {
    margin-top: 6px;
}
.xiaoQuBox {
    padding-left: 15px;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    border-bottom: 1px solid #ccc;
    line-height: 2em;
    background-color: #ffffff;
}
.daYuHao {
    margin-top: 8px;
    text-align: center;
    line-height: 1em;
}
div .ico-right {
    text-align: right;
    line-height: 1.2em;
    padding-right: -10px;
}
a .zhiti {
    color: #000;
}

/*宽带端口页面*/
.he{
	width:96%;
	background:#fff;
	padding:15px 10px;
	margin-top:10px;
	border:1px solid #cccccc;
	border-radius:5px;
	}
.he2{	
	width:96%;
	padding:0px 10px;
	margin-top:10px;
	border-radius:5px;
	}
.minxi{
	color:#595959;
	fon-size:16px	
	}
.he3{
	color:#595959;
	margin-top:10px;	
	font-size:16px;
	font-weight:blod;
	margin-left: 1.2em;
}
.red_color{
	color:#F00;	
}
.daoh{
	border-top:1px solid #cccccc;
	margin-top:10px;
	padding:10px 0;	
	}
.weinzi{
	font-size:14px;
	margin-left:4px;	
}
.daoh .col-xs-6 .xian{
	height:24px;
	width:1px;
	margin:0 auto;
	float:right;	
	}
.daoh .col-xs-6{
	padding:0;	
	}
.clear{
	clear:both;
	}
		
	/*图表*/
.yunfenxi-img {
    background: #fff!important;
    border-radius: 3px;
    width: 98%;
    margin: 10px auto;
    height: 300px;
    padding: 10px;
}

/*安装填表*/

.xiala_1 {
	margin-top: 10px;
}
.kong {
	height: 20px;
}
.btn1 {
	margin-top: 6px;
}
.xiala_2{
	margin-top:10px;	
	}
